<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="css/styles.css">-->
    <link rel="stylesheet" href="css/mediaqueries.css">
    <title>Joshua Maduri - Development Expert</title>
</head>
<body>
    <header class="navbar">
        <a href="#" class="nav-brand">JOSH</a>
        <div class="navbar-button"></div>
        <div class="navigation">
            <ul>
                <li><a href="#Home" class="nav-link">Home</a></li>
                <li><a href="#Projects" class="nav-link">Projects</a></li>
                <li><a href="#Skills" class="nav-link">Skills</a></li>
                <li><a href="#Experience" class="nav-link">Experience</a></li>
            </ul>
        </div>
        
    </header>
    <main>
        <section class="home" id="Home">
            <div class="home-intro">
                <h2 class="home-intro-name">
                    Hello I'm 
                    <br>
                    <span>Joshua <br>Maduri</span>
                </h2>
                <div class="home-intro-animated-text">
                    <h3>I build websites</h3>
                    <h3>I build backends</h3>
                    <h3>I build apps</h3>
                    <h3>I build cloud solutions</h3>
                    <h3>I build automations</h3>
                </div>
                <div class="home-social-links">
                    <a href="https://www.linkedin.com/in/jamaduri-it/"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/Joshi669"><i class="fa-brands fa-github"></i></a>
                    <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.upwork.com/freelancers/~01ba971cd79401ca10"><i class="fa-brands fa-upwork"></i></a>
                </div>
                <a href="https://blog.joshuamaduridev.com"><button class="bn632-hover bn26">See my Blog</button></a>
                <a href="https://www.upwork.com/freelancers/~01ba971cd79401ca10"><button class="bn632-hover bn26">Hire Me</button></a>
            </div>
            <div class="home-job-status">
                <img src="static/profile-pic.jpeg" alt="Profile-Image" id="profile-image">
        </section>

        <section class="projects" id="Projects">
            <h2 id="section-title">My Projects</h2>
            <div class="project-list">
            <% projects_data.forEach(item => { %>
                <div class="project">
                    <h4><%= item.name %></h4>
                    <p><%= item.description%></p>
                    
                </div>
                <% }); %>
            </div>
        </section>

        <!-- <section class="skills-page"></section>
        <section class="blog-page"></section> 
        <footer>
            <p>© 2021 Joshua Maduri | <a href="mailto:jmaduri@hotmail.com"></a></p>
        </footer>-->
    </main>
    <script src="https://kit.fontawesome.com/84ce35745e.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>