:root {
  --navy-color: #112d4e;
  --blue-color: #3F72AF;
  --lightblue-color: #DBE2EF;
  --white-color: #F9f7f7;
  --white-color-glass: rgba(249,247,247,0.5);
  --black-color: rgb(85,85,85);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
